<!DOCTYPE html>
<html lang="en">

<head>
    <link href="Css/style1.css" rel="stylesheet" type="text/css" />
    <title>contacs</title>
    <meta charset="uft-8" />
    <meta name="keywords" content="HTML5, CSS3, Javascript" />
    <meta name="author" content="Sebastian" />
    <link rel="shortcut icon" href="images/icono.ico" type="image/x-icon" />
</head>

<body>
    <header>
        <nav class="navegacion">
            <div class="imagenlogo"></div>
            <a href="index.html"><img src="images/htmlpg.png " alt="" class="imagen-nav"></a>
            </div>
            <ul>
                <li><a href="index.html" style="color:rgb(255, 255, 255);">Home</a></li>
                <li><a href="contacts.html" style="color:rgb(255, 255, 255);">Contacts</a></li>
                <!--<li> <a href="tweets.html">Twitter</a></li>-->
            </ul>
        </nav>
        <section class="textos">
            <h1>Contacts</h1>
            <h2>Holberton</h2>
        </section>
        <div class="decoracion">
            <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                        <path d="M-0.27,58.70 C340.57,256.08 589.45,67.59 499.72,79.44 L500.00,150.00 L0.00,150.00 Z"
                            style="stroke: none; fill: rgb(255, 255, 255);"></path>
                    </svg>
            </div>
        </div>
    </header>
    <main>
        <br>
        <br>
        <section class="textos-principales">
            <h2 class="titulo-p">How can you communicate with me? </h2>
            <div class="textos-principales">
                <article class="articulo">
                    <p>You can write to my following social networks between 10 am to 8 pm, I will answer all your questions.
                        <br>
                        <br> On my instagram I upload content for my companies, on what's apps I usually answer questions and on facebook I usually make announcements, but they are free to write to me to anyone
                        <br/>
                        <br/>
                        <br/>
                    </p>
                </article>
            </div>
        </section>
        <div class="share">
            <ul>
                <li>
                    <a href="https://www.facebook.com/" target="_blank"> <img src="images/facebockboton.png " alt=""></a>
                </li>
                <li>
                    <a href="https://twitter.com/home" target="_blank"><img src="images/twitterboton.png " alt=""></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank"><img src="images/instagramboton.png " alt=""></a>
                </li>
            </ul>
        </div>
    </main>
    <main>
        <!--<section class="contenedor sobre-nosotros">
                     <h3 class="titulo"></h3>
                     <p>aqui va la primera carreta </p>-->
    </main>
    </section>
    <footer>
        <div class="contenedor-footer">
            <div class="contenido-foo">
                <h4>Phone:</h4>
                <p>(57)314 6684095</p>
            </div>
            <div class="contenido-foo">
                <h4>Email:</h4>
                <p><address> sebas.rengi@hotmail.com</address></p>
            </div>
            <div class="contenido-foo">
                <h4>Location:</h4>
                <p>Carrera lucumi en la calle octava</p>
            </div>
        </div>
        <div id="disqus_thread"></div>
        <script>
            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document,
                    s = d.createElement('script');
                s.src = 'https://http-184-73-133-98.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
    </footer>
</body>

</html>