<!DOCTYPE html>
<html lang="es">

<head>
    <link href="{{url_for('static', filename='css/style1.css')}}" rel="stylesheet" type="text/css" />
    <title>Home</title>
    <meta charset="uft-8">
    <meta name="keywords" content="Community Bank" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/icono.ico')}}" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <script src="{{url_for('static', filename='js/code.js')}}" defer></script>
</head>

<body>
    <div id="principal">
        <h3>Welcome</h3>
    </div>
    <header>
        <nav class="navegacion">
            <div class="imagenlogo"></div>
            <a href="index.html"><img src="{{url_for('static', filename='img/htmlpg.png')}} " alt="" class="imagen-nav"></a>
            </div>
            <ul>
                <li><a href="index.html" style="color:rgb(255, 255, 255);">Home</a></li>
                <li><a href="contacts.html" style="color:rgb(255, 255, 255);">Contacts</a></li>
                <li> <a type="button" style="color:rgb(255, 255, 255);" href="{{url_for('login')}}">LOGIN</a> </li>
            </ul>
        </nav>
        <section class="textos">
            <h1>COMMUNITY BANK</h1>
            <h2></h2>
        </section>
        <div class="decoracion">
            <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                    <path d="M-0.27,58.70 C340.57,256.08 589.45,67.59 499.72,79.44 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none; fill: rgb(255, 255, 255);"></path>
                </svg>
            </div>
        </div>
    </header>
    <main>
        <br>
        <br>
        <section class="textos-principales">
            <p>(everything that is said here is fictitious and invented.)</p>
            <h2 class="titulo-p">title</h2>
            <div>
                <article class="articulo">
                    <p>Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final. Aunque no posee actualmente fuentes para justificar
                        sus hipótesis, el profesor de filología clásica Richard McClintock asegura que su uso se remonta a los impresores de comienzos del siglo xvi.1​ Su uso en algunos editores de texto muy conocidos en la actualidad ha dado al texto
                        lorem ipsum nueva popularidad. El texto en sí no tiene sentido, aunque no es aleatorio, sino que deriva de un texto de Cicerón en lengua latina, a cuyas palabras se les han eliminado sílabas o letras. El significado del mismo no
                        tiene importancia, ya que solo es una demostración o prueba. El texto procede de la obra De finibus bonorum et malorum (Sobre los límites del bien y del mal) que comienza con:
                        <br/>
                        <br/> ILorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final. Aunque no posee actualmente fuentes
                        para justificar sus hipótesis, el profesor de filología clásica Richard McClintock asegura que su uso se remonta a los impresores de comienzos del siglo xvi.1​ Su uso en algunos editores de texto muy conocidos en la actualidad
                        ha dado al texto lorem ipsum nueva popularidad. El texto en sí no tiene sentido, aunque no es aleatorio, sino que deriva de un texto de Cicerón en lengua latina, a cuyas palabras se les han eliminado sílabas o letras. El significado
                        del mismo no tiene importancia, ya que solo es una demostración o prueba. El texto procede de la obra De finibus bonorum et malorum (Sobre los límites del bien y del mal) que comienza con:
                </article>
        </section>
        <br/>
        </p>
        <br/>
        <br/>
        <div class="div-principal">
            <img src="images/carro.png" alt="">
        </div>
        <br/>
        <br/>
        <br/>
        <section class="textos-principales">
            <article class="articulo">
                <p>
                    It was my first car, my father was a car fan, and the car was so beautiful that I couldn't deny him the gift and with that car I learned to drive and with that car I learned to drive and know the streets, my father was very good at business and I learned
                    everything from him and that's when I knew he would be an entrepreneur.
                </p>
                <br/>
                <br/>
                <p>
                    How was my business life? Very frustrating at the beginning, because I was very naive and they cheated me easily, but time helped me grow and improve, now I am the one who usually cheats the scammer, my father was always very bold and intelligent until
                    that the United States government entered our house and said that my father was under arrest and they took us out of our house. it was such a nice and big house that it felt like we had lost a vital piece of our life Currently I have
                    already overcome that and I have created my own companies, by the way, this is how I see myself:
            </article>
        </section>
        </p>
        <br/>
        <br/>
        <br/>
        <div class="div-principal">
            <img src="images/yo.png" alt="">
        </div>
        <br/>
        <br/>
        <br/>
        <section class="textos-principales">
            <article class="articulo">
                <p> After everything that happened I had a great stroke of humility, despite having money for everything, I also value things as small as a plate of food, because my childhood was hard and we went through great declines, but I learned that
                    and became an entrepreneur and a software engineer and that was my story. </p>
            </article>
            </div>
        </section>
    </main>
    </section>
    <footer>
        <div class="contenedor-footer">
            <div class="contenido-foo">
                <h4>Creator :</h4>
                <p>Made by Sebastián Rengifo for <a href="https://www.facebook.com" target="_blank">Holberton School</a>.</p>
            </div>
            <div class="contenido-foo">
                <h4>Email:</h4>
                <p><address> sebas.rengi@hotmail.com</address></p>
            </div>
            <div class="contenido-foo">
                <h4>Location:</h4>
                <p>Carrera lucumi en la calle octava</p>
            </div>
        </div>
        <div id="disqus_thread"></div>
        <script>
            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document,
                    s = d.createElement('script');
                s.src = 'https://http-184-73-133-98.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
    </footer>

</body>

</html>